%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

%%% https://github.com/rustyio/sync/blob/master/sync.sample.config


[
%%     {sync, [
%%             %% whitelisted_modules: Sync only these modules
%%             %% default: []
%%             {whitelisted_modules, []}

%%             %% excluded_modules: Ignore any modules listed
%%             %% default: []
%%             ,{excluded_modules, [lager]}
%%     ]}
%% ].


%% [
%%     {sync, [
%%             {src_dirs, {replace, [{"~/data3/repos/terl/src", [{outdir,"~/data3/repos/terl/ebin"}]}]}}
%%            ,{non_descendants, allow}
%%     ]}
].
